<div style="position: absolute; z-index: 1; width:100%; height: 100%; background: none;">
    <ul style="list-style-type: none; margin: 0; padding: 0;" id="msgs"></ul>
    <form style="background: #c0c0c0; padding: 3px; position: fixed; bottom: 0; width: 100%;" action="">
        <input id="wName" type="text" placeholder="Your Wiggle's Name"><input style="border: 0; padding: 10px; width: 90%; margin-right: .5%" id="msg" autocomplete="off" /><button style="width: 9%; background: green; border: none; padding: 10px">Send</button>
    </form>
</div> 
<canvas id="myCanvas" style="position: absolute;"resize="true" keepalive="true"></canvas> 
